body::before {
  content: "";
  position: fixed;
  background: url("../img/secret1.jpg") center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}


h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #BC1010;
    font-size: 40px;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.foot {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-top: 48em;
}

