<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link href="/static/css/game.css" rel="stylesheet">
    </head>
    <body>
    <h1>Welcome to : Guess the secret number game</h1>
    <form method="post" action="/result" class="form">
        <input type="text" name="guess" placeholder="Enter your number">
        <br>
        <button type="submit">Submit</button>
    </form>
    <div class="foot">

            <h6>made by <strong>KMETO</strong></h6>

    </div>
    </body>

</html>